// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-gray: #e6e6e6;
$medium-gray: #cacaca;

* {
    margin: 0;
    padding: 0;
}


.home-container {
    width: 100%;
    height: 815px;
    background-color: white;
    margin-bottom: -1%;
}

.home-myParallax {
    padding: 300px 0;
    background-image: image-url("canopy.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: -2%;
    margin-bottom: 0;
}

.home-myParallax h1 {
    text-align: center;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 12rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    padding-top: 0;
}

.home-container2, .home-container3, .all-container {
  width: 100%;
  height: 400px;
}

.home-description1 {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("gmountains3.jpg");
  background-repeat: no-repeat;
  // background-size: 100%;
  // background-position: 0 70%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.home-description2 {
  border: 1px solid black;
  border-bottom:2px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("ocean2.jpg");
  background-repeat: no-repeat;
  background-size: 180%;
  // background-position: 0 20%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.home-date {
  margin-left: 18%;
}

.home-posts-container {
  display: flex;
}

.recent-posts {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 2%;
}

.all-link {
  text-align: center;
  a:link {
    text-decoration: none;
  }
  p {
    font-size: 1.8rem;
  }
}

.all-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("alpinemtns.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: 0 55%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.space-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("space.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: 0 55%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.health-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("health.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: 0 55%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.tech-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("tech.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: 0 55%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.science-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("science.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: 0 55%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.environment-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("environment.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: 0 55%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.earth-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("earth2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: 0 55%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.education-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("education.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 10%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.society-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("society2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 10%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.arts-description {
  border: 1px solid black;
  border-bottom:1px solid black;
  border-left:0;
  border-right:0;
  background-image: image-url("arts3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 12%;
  margin: 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5.8rem;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

// vertical centering mixin found in Foundation
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-callout-card {
  .callout {
    position: relative;
    border: 1px solid $medium-gray;
  }

  .first-section,
  .last-section {
    p {
      @include vertical-center;
    }
  }

  .first-section {
    border-bottom: 0;
  }

  .last-section {
    border-top: 0;
  }

  @media only screen and (max-width: 640px) {
    .callout {
      margin-bottom: 0;
    }

    .first-section {
      border-right: none;
    }

    .last-section {
      border-left: none;
    }
  }
}

#indiv-post-container {
  margin-left: 1%;
  margin-top: 2%;
  h4 {
    margin-top: 8%;
  }

}

.indiv-post {
  white-space: pre-wrap;
}
